* {
  font-family: 'Bebas Neue', cursive;
}
#logo {
  margin: 0;
  opacity: .94;
  width: 70px;
  transition: .1s ease-in-out;
  /* transition: .2s ease-in; */
}
#logo:hover {
  opacity: .5;
}  











/* HEADER --------------------- */
#nav-header {
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  position: fixed;
  padding: 0;
  box-shadow: 0 4px 10px rgba(74, 74, 74, 0.1);
  background-color: white !important;
}

#nav-header .container {
  height: 64px;
}

.sesionSvg {
  opacity: .95;
}

.sesionSvg:hover{
  opacity: .5;
}

#navbarSupportedContent {
  justify-content: flex-end;
}
#containerPaginas {
  margin-right: 1.6rem !important;
}
#menu-hamburguesa {
  border: none;
}
.nav-item {
  margin-left: 1.2rem;
}
.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  transition: .1s;
}
.nav-link:hover {
  color: rgb(132, 132, 132);
}

#login-button {
  border: none;
  background-color: white !important;
}


/* MODAL */
.modal-dialog {
  margin-top: auto;
  margin-bottom: auto;
 }
 .modal-dialog-centered {
  justify-content: center;
 }
 .modal-backdrop {
  z-index: 1;
 }
.modal-content {
  align-items: center;
  width: fit-content;
  padding: 1rem;
}

.nombreUsuario {
  margin-bottom: 0 !important;
  margin-right: 1rem;
}

#cerrarSesion {
  text-decoration: underline;
}










/* HERO IMAGE EN INDEX */
#imagenPrincipal {
  z-index: -1;
  height: 100vh; 
  background-image: url('./img/hero-img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  width: 100%;
  animation: introLoad 2s forwards;

  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: .2s;
}

#textoHero {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#textoHero h1 {
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size:8.5rem;
}

#textHero button {
  font-size: 5rem;
}

#botonProductos {
  padding: 1.1em 1.6em;
  border: 2px solid white;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: white;
 }
 
 
 #botonProductos::before {
  content: '';
  width: 0;
  height: 400%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #000000;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 #botonProductos:hover::before {
  width: 105%;
 }
 
 #botonProductos:hover {
  color: #ffffff;
  border: 2px solid black;
 }
 
#info-pagina {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

#info-pagina div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.svg-info {
  width: 8em;
  margin-bottom: 1em;
}
.svg-info-3 {
  width: 6.5em;
  margin-bottom: 1em;
}
.title {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(35, 35, 35);
  margin: 0;
}
.subtitle {
  font-weight: 300;
  color: rgb(0, 0, 0);
}






/* Footer */

footer {
  border-top: 1px solid rgb(214, 214, 214);
}

#footer {
  background-color: rgb(255, 255, 255);
}

#redes, #logoAbajo, #suscribite {
  height: 300px;
}


#redes {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: none;
  align-items: center;
}
#suscribite {
 margin-top: 30px;
}

.cardfooter {
  background-color: transparent;
  border-color: transparent;
}

.card-title {
  margin-top: 20px;
  color: black;
}

.card-link {
  text-decoration-color:transparent;
}

.iconosrrss {
  max-width: 15%;
  height: 15%;
  object-fit: contain;
  margin-bottom:  15px;
}


.mail{
  width: 242px;
}

.logofooter {
  margin-top: 15px;
  height: 55%;
}

.btn {
  background-color: black;
  border-color: black;
}

















/* SECCION PRODUCTOS ---------------------- */
.productos-etiquetas {
  color: white;
  font-weight: 700;
  font-size: 7rem;
}
#contenedorTituloProductos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  z-index: -1; 
  background: url('./img/foodtruck.jpg');
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 64px;

  margin-bottom: 10rem;
}
.comidas {
  background: url('./img/morfi1.jpg') !important;
}
.extras {
  background: url('./img/latas2.jpg') !important;
}
#tituloProductos {
  color: rgb(88, 88, 88);
  font-size: 3rem;
  text-align: center;
  border-bottom: 1px solid rgb(211, 211, 211);
}
#contenedorProductos {
  margin-bottom: 8rem;
}


/* Tarjetas */
#productos {
  margin-bottom: 70px;
  width: 300px;
  border-top-right-radius: 3;
  border-top-left-radius: 3;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #060503;
  padding-bottom: 2.5rem;
}

.card-body3 {
  border-color: transparent;
}
.card-title {
  font-size: 3.5rem;
  color: rgb(232, 232, 232);
}

.card-title2 {
  color: black;
}

.card-title3 {
  margin-left: 20px;
  color: white;
  font-size: 2.2rem;
}

.card-title4 {
 
  color: white;
  font-size: 2.2rem;
}
.card-text {
  color: rgb(255, 255, 255);
  font-size: .9rem;
}

.card-text2 {

  color: black;
  font-size: .9rem;
}

.card-text3 {
  margin-left: 20px;
  margin-top: 40px;
  color: white;
  font-size: 1.5rem;


}

.card-text4 {

  margin-top: 40px;
  color: white;
  font-size: 1.5rem;


}
.card-img-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 400px;
  object-fit: cover; 
  transition: transform 0.2s ease-in-out;
} 
.card-img-top:hover {
  transform: scale(1.05);
}

.containerProductosSinSesion {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}

.containerProductosSinSesion p {
  font-size: 50px;
  text-align: center;
}








/* SECCIÓN CONTACTO ----------------------- */
#seccion-contacto {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#formulario {
  height: 600px;
  padding: 2rem;
  padding-bottom: 0rem;
  padding-right: 4rem;
}

#exampleFormControlInput1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#mensajeDiv {
  margin-top: 4rem;
}

#iFrame {
  height: 600px;
}

#form-button {
  background-color: black;
  padding: 1rem 1.8rem;
  border-radius: 3px;
}
#form-button:hover {
  background-color: white;
  color: black;
  overflow: hidden;
}




/* SECCION NOSOTROS ------------------ */
.titulin {
  font-size: 3.2rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}
.img3 {

  object-fit: cover; 
}
#seccionNosotros {
  margin-top: 60px;
  padding: 2rem;
  background-color: rgb(37, 37, 37);
}

.Presentacion {
  align-items: center;
  padding: 2rem;
  border-color: transparent;
  background-color: rgb(49, 49, 49);
}





/* ENTRE SM Y MD */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  #info-pagina {
    margin-top: 8rem;
    padding: 0;
  }
  #info-pagina div {
    margin-bottom: 8rem;
  }
}

/* ENTRE 0 Y SM */
@media only screen and (min-width: 0px) and (max-width: 992px) { 
  #login-button{
    margin: 0;
    align-items: center;
  } 

}


/* ANIMACIÓN IMGEN PRINCIPAL */
@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}








